# transformers
# torch
# sentence-transformers
# scikit-learn
# pandas
# numpy
# flask
# joblib



flask
python-dotenv
torch --index-url https://download.pytorch.org/whl/cpu
transformers
scikit-learn
pandas
numpy
joblib
authlib